@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@0;1&family=Source+Serif+Pro:ital,wght@0,600;0,700;1,600;1,700&display=swap');

@import url('https://raw.githubusercontent.com/velvetyne/Sporting-Grotesque/master/webfonts/font.css');

@font-face {
  font-family: 'Sporting Grotesque_Regular';
  src:    url('Regular/Sporting_Grotesque-Regular_web.eot');
  src:    url('Regular/Sporting_Grotesque-Regular_web.eot?#iefix') format('embedded-opentype'),
          url('Regular/Sporting_Grotesque-Regular_web.woff') format('woff'),
          url('Regular/Sporting_Grotesque-Regular_web.woff2') format('woff2'),
          url('Regular/Sporting_Grotesque-Regular_web.ttf') format('truetype'),
          url('Regular/Sporting_Grotesque-Regular_web.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sporting Grotesque_Bold';
  src:    url('Bold/Sporting_Grotesque-Bold_web.eot');
  src:    url('Bold/Sporting_Grotesque-Bold_web.eot?#iefix') format('embedded-opentype'),
          url('Bold/Sporting_Grotesque-Bold_web.woff') format('woff'),
          url('Bold/Sporting_Grotesque-Bold_web.woff2') format('woff2'),
          url('Bold/Sporting_Grotesque-Bold_web.ttf') format('truetype'),
          url('Bold/Sporting_Grotesque-Bold_web.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}



body {
  background-color: #F7EAD8;
  color: #291918;
  margin: 80px auto 48px auto;
  width: 1120px;
}

header {
  display: flex;
  justify-content: center;
  margin: -25px 0px 0px 0px;
}

#logotype {
  font-family: 'Sporting Grotesque_Bold';
  font-size: 30px;
  font-weight: 700;
}

#title {
  font-family: 'Source Serif Pro', serif;
  font-size: 107px;
  font-weight: 700;
  line-height: 120%;
}

#img-caption {
  font-style: italic;
}

#intro-para {
  font-family: 'Source Serif Pro', serif;
  font-size: 38px;
  font-weight: 600;
  line-height: 130%;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
}

a:link, a:visited {
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 28px;
  font-weight: 400;
  transition: text-decoration 0.3s;
  color: #291918;
  text-align: center;
  text-transform: uppercase;
}

a:hover {
  text-decoration: line-through;
}


section {
  margin: 80px 0 80px 0;  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  gap: 32px 32px;
  grid-auto-flow: dense;
}

.title-top {
  grid-row: 1;
  grid-column: 8 / span 5;
  padding-top: 20%; 
  z-index: 1;
  /* source for overlapping: https://bricampgomez.com/blog/how-to-overlap-images-in-css/ */
}

.img-bottom{
  grid-column: 2 / -5;
  grid-row: 1;
  padding-top: 0px;
}

.img-class {
  display: flex;
  justify-content: center;
}

#img-caption {
  padding: 10px;
}

.texte-class h2, p {
  grid-column: 3 / span 8;
  margin: -5px auto auto auto
}

.texte-class h2 {
  margin: 20px 0px 30px 0px;
}

.button {
  display: flex;
  justify-content: center;
}

.texte {
  border-style: solid;
  border-width: 2.3px;
  padding: 10px 40px 10px 40px
}


img {
  width: 100%;
  max-width: 933px;
  display: block;
}